  /* width */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

.favorite-star{
  position: absolute;
  width: 34px;
  height: 34px;
}

.card-details{
  height: 76px;
}

.card-column{
  height: 60px;
}

.matching{
  font-family: Lato;
  font-style: normal;
  font-weight: 275;
  font-size: 32px;
  line-height: 32px;
  color: #000000;
}