::-webkit-scrollbar {
  display: none;
  width: 10px;
}

.favorite-star{
  position: absolute;
  width: 16px;
  height: 16px;
}

.card-details{
  height: 76px;
}

.card-column{
  height: 60px;
}

.matching-div{
  width: 88px;
  height: 84px;
  text-align: center;
  background: rgba(97, 0, 5, 0.1);
  border-radius: 4px;
}