@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.body2{
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.wine-hover:hover{
  box-shadow:0px 4px 16px rgba(0, 0, 0, 0.23);
  transition: box-shadow 300ms ease-out  ; 
}