@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.body2{
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}