@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
  --fontColor: #610005;
}

h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  color: var(--fontColor);
}

h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: var(--fontColor);
}

h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--fontColor);
}

.subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--fontColor);
}

.body2{
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: var(--fontColor);
}

.wine-box{
  position: relative;
}

.star-div{
  position: absolute;
  top: 45px;
  right: 20px;
  z-index: 1;
}

.wine-hover:hover{
  box-shadow:0px 4px 16px rgba(0, 0, 0, 0.23);
  transition: box-shadow 300ms ease-out; 
}

.link {
  text-decoration: none;
  color: var(--fontColor);
}

.link:hover {
  color: var(--fontColor);
}

